body {
  margin: 0;
  height: 100%;
}
.parent {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.black {
  background-color: black;
  grid-column: 1/4;
  height: 10vh;
  margin: 5px;
}
.orange {
  background-color: orange;
  grid-column: 1/3;
  height: 50vh;
  margin: 5px;
}
.green {
  background-color: green;
  grid-column: 3/4;
  height: 50vh;
  margin: 5px;
}
.blue {
  background-color: blue;
  grid-column: 1/4;
  height: 30vh;
  margin: 5px;
}
